.container-filtro ul li {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    font-size: 18px;
    border-radius: 4px; 
}

.container-filtro {
    display: flex;
    justify-content: space-between;
    margin-top: 1em; /*16px*/
}

.container-filtro ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.container-filtro button {
    border: none;
    background-color: transparent;
    color: var(--cinza-medio);
    font-size: 18px;
}

.container-filtro ul li img {
    margin-left: 5px; 
    cursor: pointer; 
}

